@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat&family=Poppins:wght@300;400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");

/* Color Scheme */
$material-n2-100: #FFDCD2;
$material-n2-200: #E8BEB5;
$material-n2-300: #CEA198;
$material-n2-400: #B1867D;
$material-n2-500: #8F6C64;
$material-n2-600: #76564F;
$material-n2-700: #5F4240;
$material-n2-800: #452D2A;
$material-n2-900: #2E201B;

$material-a1-100: #ffdacc;
$material-a1-200: #FFAF9C;
$material-a1-300: #FF8B77;
$material-a1-400: #E47060;
$material-a1-500: #A4443C;
$material-a1-600: #822F27;
$material-a1-700: #641F0F;
$material-a1-800: #450000;

$pastel-red: #ff8080;
$pastel-green: #80ff80;
$pastel-blue: #8080ff;